<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.AdChannelMapper">

    <resultMap id="BaseResultMap" type="generator.domain.AdChannel">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_default" jdbcType="BOOLEAN"/>
            <result property="status" column="status" jdbcType="BOOLEAN"/>
            <result property="ord" column="ord" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        is_default,status,ord,
        created_time
    </sql>
</mapper>
