<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.WmUserMapper">

    <resultMap id="BaseResultMap" type="generator.domain.WmUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="apUserId" column="ap_user_id" jdbcType="INTEGER"/>
            <result property="apAuthorId" column="ap_author_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="BOOLEAN"/>
            <result property="score" column="score" jdbcType="TINYINT"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ap_user_id,ap_author_id,
        name,password,salt,
        nickname,image,location,
        phone,status,email,
        type,score,login_time,
        created_time
    </sql>
</mapper>
